.attracties{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  gap: 25px;
}

.attracties img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.large{
  grid-column: span 2;
}

.ride{
  background-color: #F5FCF8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 15px 16px 26px -12px rgba(0,0,0,0.56);
  transition: transform ease-in-out .1s;
  cursor: pointer;
  color: #0B351D;
}
.ride:hover{
  transform: scale(1.02);
  transition: transform ease-in-out .1s;
}
.ride-info{
  padding: 10px;
  background-color: #F5FCF8;
}
.ride-bottom{
  display: flex;
  justify-content: space-between;
}

button{
  border: none;
  border-radius: 15px;
  background-color: #3ED67D;
  font-family: Oxanium;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: 600;
}

.fast-pass button img{
  height: 17px;
  width: auto;
  margin-right: 5px;
  vertical-align: baseline;
}

.fast-pass{
  border-left: 1px solid #E5E5E5;
  text-align: center;
  padding: 0 10px;
  background-color: white;;
}

.large .ride-info, .fast-pass{
  width: 50%;
}

.ride-info, .fast-pass{
  padding: 15px;
}

.ride h2{
  font-family: Oxanium;
  font-weight: 600;
  margin: 0;
}

.ride p{
  margin: 0;
}

.themeland, .fast-pass{
  font-size: 14px;
  color: #849D8E;
}

.min-length{
  margin-top: 10px !important;
  color: #849D8E;
  font-weight: 300;
}

.min-length span{
  font-weight: 400;
}